# CS5062_ASSESSMENT1_ZHIXI_TANG__52097136

Student: ZHIXI TANG
Student ID: 52097136

## Introduction

This .ipynb file include the source code and detailed explanation of CS5062 Assessment 1. It can be run on local machine with
required environment or Google Colab.

## Task 1

### Task 1 - A: Data Import

In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv('./data/soybean_tabular.csv')
df

,Variety,S_1,S_2,S_3,S_4,M_1,M_2,M_3,W_1,W_2,W_3,W_4,Yield
0,1,4.0900,15.3,396.90,4.98,0.00632,18.0,6.575,2.381979,0.475522,65.2,296.350195,24.0
1,2,4.9671,17.8,396.90,9.14,0.02731,0.0,6.421,7.071148,0.509165,78.9,241.620198,21.6
2,2,4.9671,17.8,392.83,4.03,0.02729,0.0,7.185,6.896941,0.580673,61.1,241.551476,34.7
3,3,6.0622,18.7,394.63,2.94,0.03237,0.0,6.998,2.237817,0.491539,45.8,222.023994,33.4
4,3,6.0622,18.7,396.90,5.33,0.06905,0.0,7.147,1.979327,0.103660,54.2,221.723972,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,1,2.4786,21.0,391.99,9.67,0.06263,0.0,6.593,11.774062,0.565469,69.1,272.952382,22.4
502,1,2.2875,21.0,396.90,9.08,0.04527,0.0,6.120,11.785249,0.562102,76.7,273.264306,20.6
503,1,2.1675,21.0,396.90,5.64,0.06076,0.0,6.976,11.854205,0.777569,91.0,273.421726,23.9
504,1,2.3889,21.0,393.45,6.48,0.10959,0.0,6.794,11.765196,0.679057,89.3,273.913622,22.0
505,1,2.5050,21.0,396.90,7.88,0.04741,0.0,6.030,12.007563,0.615699,80.8,273.623418,11.9

Provide short statistical summary (mean, range, standard deviations, min/max, median, and 25%/50%/75% percentile),
describe the data provided identifying and rectifying any missing values.

In [59]:
df1 = df.iloc[:, 1:]

# range
df1.describe()

,S_1,S_2,S_3,S_4,M_1,M_2,M_3,W_1,W_2,W_3,W_4,Yield
count,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000
mean,3.795043,18.455534,356.674032,12.653063,3.613524,11.363636,6.284634,11.131488,0.551258,68.574901,408.252839,22.532806
std,2.105710,2.164946,91.294864,7.141062,8.601545,23.322453,0.702617,6.868654,0.181693,28.148861,168.530578,9.197104
min,1.129600,12.600000,0.320000,1.730000,0.006320,0.000000,3.561000,0.472905,0.103660,2.900000,186.765075,5.000000
25%,2.100175,17.400000,375.377500,6.950000,0.082045,0.000000,5.885500,5.149096,0.422286,45.025000,278.745884,17.025000
50%,3.207450,19.050000,391.440000,11.360000,0.256510,0.000000,6.208500,9.588040,0.528133,77.500000,330.467783,21.200000
75%,5.188425,20.200000,396.225000,16.955000,3.677083,12.500000,6.623500,18.094315,0.668573,94.075000,665.354401,25.000000
max,12.126500,22.000000,396.900000,37.970000,88.976200,100.000000,8.780000,28.074197,1.158538,100.000000,711.210992,50.000000

The statistical description is shown above. As the feature `variety` is just a number to represent corp variety, we do not
have to take it into account.

From the above data we can see in the column `M_2`, there are some values are missed. The dataset has used $0$ to replace
these missed values, so we don't have to process it.

However, for different varieties of crops, there maybe a certain relationship between features
of the same variety of corps, therefore, we will get the statistical description of different varieties of corps separately.

In [15]:
# count how many varieties in corps
df['Variety'].value_counts()

24    132
5     115
4     110
3      38
6      26
2      24
8      24
1      20
7      17
Name: Variety, dtype: int64

In [26]:
def show_describe(dataframe, variety_num):
    """"The variety_num can only be one of [24, 5, 4, 3, 6, 2, 8, 1, 7]"""
    df_v = dataframe.loc[dataframe['Variety'] == variety_num]
    return  variety_num, df_v.describe()

In [57]:
def DiffYield(dataframe):
    varieties = [24, 5, 4, 3, 6, 2, 8, 1, 7]
    index = ['mean', 'std', 'min', '25%', '50%', '75%', 'max']
    v_names = []
    data = {}

    for i in varieties:
        df_v = show_describe(dataframe, i)  # get the describe info of a single variety
        corp_yield = df_v.iloc[1:, -1].values
        exec(f"data['Variety_{i}'] = corp_yield")
    yield_df = pd.DataFrame(data, index=index)

    return yield_df

In [51]:
# df.iloc[1:, -1]
df.iloc[1:, -1].index

RangeIndex(start=1, stop=506, step=1)

In [58]:
DiffYield(df)

,Variety_24,Variety_5,Variety_4,Variety_3,Variety_6,Variety_2,Variety_8,Variety_1,Variety_7
mean,16.403788,25.706957,21.387273,27.928947,20.976923,26.833333,30.358333,24.365000,27.105882
std,8.539745,9.328401,6.957883,8.324692,2.312801,7.874376,9.727724,8.024454,6.493215
min,5.000000,11.800000,7.000000,14.400000,16.800000,15.700000,16.000000,11.900000,17.600000
25%,11.225000,19.500000,17.575000,21.125000,18.900000,21.400000,23.825000,20.475000,24.300000
50%,14.400000,23.000000,20.450000,26.500000,21.200000,23.850000,28.250000,22.200000,26.200000
75%,19.900000,30.000000,23.650000,34.525000,23.025000,33.225000,33.175000,27.225000,29.600000
max,50.000000,50.000000,50.000000,50.000000,24.800000,43.800000,50.000000,50.000000,42.800000

### Task 1 - B: Data pre-processing

In this section, we will split dataset to train, validation, test with rate of 6:2:2.

We will also do some pre-processing to the data for improving the performance model we will define later. The steps are shown below:

1. Split the data to train_set, test set with rate 6 : 4
2. Use the median of train_set>M_2 to replace the 0 in train_set and test_set
3. Split the train set with rate 1: 1. Therefore, we will have train_set, validation_set, test_set with rate 6 : 2 : 2
4. Convert `pandas.Dataframe` into `numpy.ndarray`.

In [73]:
from sklearn.preprocessing import StandardScaler

# Split train, validation, and test set with rate 6:2:2
train_set = df.sample(frac=0.6, random_state=0, axis=0)
rest_set = df[~df.index.isin(train_set.index)]
test_set = rest_set.sample(frac=0.5, random_state=0, axis=0)
val_set = rest_set[~rest_set.index.isin(test_set.index)]

# Use the median of train_set > M_2 to replace the 0 in train_set and test_set
m = train_set['M_2'].median()

# Replace value
train_set['M_2'].replace(0, m, inplace=True)
test_set['M_2'].replace(0, m, inplace=True)

# Normalization - Z-score
sc_train = StandardScaler()
sc_train = sc_train.fit_transform(train_set)
sc_train = pd.DataFrame(data=sc_train, columns=['Variety', 'S_1', 'S_2', 'S_3', 'S_4', 'M_1', 'M_2', 'M_3', 'W_1', 'W_2', 'W_3', 'W_4', 'Yield'])

# Convert to numpy.ndarry
train_set = np.array(sc_train)
val_set = np.array(val_set)
test_set = np.array(test_set)

### Task 1 - C: Linear Regression Training

In this section we will define the Linear models and fit them with PyTorch

In [1]:
import torch

print(torch.cuda.is_available())
print(torch.cuda.device_count())
print(torch.cuda.get_device_name(0))
print(torch.cuda.current_device())

True
1
NVIDIA GeForce GTX 1070
0